
<h1 class='members'>Member list</h1>
<div class= 'container'>
  <div class='row'>
    <div class='col-md-4'>
     <div class="list-of-peeps">
      <% @users.each do |user| %>
       <%= link_to user.username, user_posts_path(user), class:'links'%><br>
      <% end %>
     </div>
   </div>
  </div>
</div>
