*{
	margin: 0px;
	padding: 0px;
}

body{
	background-image: url('https://images8.alphacoders.com/459/thumb-1920-459947.jpg');
	background-size: cover;
	background-attachment: fixed;
	font-family: new times roman;
}

.col-md-4{
	margin: auto;
	margin-top: 20px;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: -1px 1px 30px 1-px black;
	padding: 10px;
	border-radius: 25px;
} 

ul{
	margin-bottom: 20px; 
}

ul a{
	font-size: 29px;
	color: white;
}

ul a:hover{
	text-decoration: none;
}

h1{
	font-family: Papyrus !important;
	color: #C5834E !important;
	text-align: center;
	font-size: 70px !important;
	margin-top: 30px !important;
}

.li{
	color: #EC6282;
	margin-top: 10px;
}

.label{
	font-size: 20px !important;
	font-weight: bold !important;
	color: #BACAE1 !important;
}
.list-of-peeps{
	background: transparent !important;
	border: 3px !important;
	color: white !important;
	font-weight: normal !important;
	font-size: 17px !important;
	padding: 10px;
	text-align: center;
}
.links{
	color: #C5834E;
}
.a_signup{
	border-bottom: 2px solid #CE9254;
	padding: 10px;
}

.a_signin{
	border-bottom: 2px solid #CE9254;
	padding: 10px;
}

.form-control{
	background: transparent !important;
	border: 0px !important;
	border-bottom: 2px solid #CE9254 !important;
	color: white !important;
	font-weight: normal !important;
	font-size: 17px !important;
	padding: 10px;
}

.btn-info{
	background-color: transparent !important;
	border-bottom: 0px;
	width: 345px;
	border: 2px solid #CE9254 !important;
	font-size: 20px;
	border-radius: 0px;
	margin-top: 20px;
}

.btn-info:hover{
	background: #CE9254 !important;
	border: 2px solid #CE9254 !important;
}

.btn{
	background-color: transparent !important;
	font-size: 20px !important;
}

.footer{
	position: relative;
	bottom: 0;
	width: 100%;
	text-align: center;
	color: white !important;
}

.container-fluid{
	background-color: #E0D9C6;
}

.navbar-light .navbar-brand{
	color: #C5834E !important;
	font-family: Papyrus;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 2px;
}

.nav-link{
	color: #C5834E !important;
	font-size: 20px;
	position: relative;
	display: inline-block;
	font-family: papyrus;
}

.nav-link:hover{
	color: #BF8342 !important;
}

.nav-link::before{
	content: '';
	display: block;
	height: 3px;
	background-color: #BF8342;
	position: absolute;
	top: 0;
	width: 0%;
}

.nav-link:hover::before{
	width: 100%;
}

.logged{
	margin-top: 15px;
	margin-left: 150px;
	font-size: 20px;
	font-family: papyrus;
	letter-spacing: 1px;
	color: #C5834E;
}

.form-inline .btn-outline-success{
	color: #C5834E !important;
	border-color: transparent;
	font-family: papyrus;
	font-size: 20px;
	position: relative;
}

.btn-outline-success:hover{
	color: #BF8342 !important;
	border: 2px solid #BF8342 !important;
}


