.navbar-light .navbar-brand{
	color: #C5834E !important;
	font-family: Papyrus;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 2px;
}

.nav-link{
	color: #846D3B !important;
	font-size: 20px;
	/*padding-left: 25px !important;
	padding-right: 25px !important;*/
	position: relative;
	display: inline-block;
}

.nav-link:hover{
	color: #BF8342 !important;

}

.nav-link::before{
	content: '';
	display: block;
	height: 3px;
	background-color: #BF8342;
	position: absolute;
	top: 0;
	width: 0%;
}

.nav-link:hover::before{
	width: 100%;
}

.logged{
	margin-top: 15px;
	margin-left: 100px;
	font-size: 20px;
	font-family: cursive, Bradley Hand;
	letter-spacing: 1px;
	color: #846D3B;

}

.col-md-12{
	margin: auto;
	margin-top: 100px;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: -1px 1px 100px -1px black;
	padding: 10px;
	border-radius: 25px;
	: 100% !important;
	position: absolute;
}

